.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    align-items: center;
}

.wide-bar-items {
    color: rgb(139, 140, 142);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.wide-bar-items:hover {
    color: white;
}

.wide-bar-icon {
    height: 1.3em;
}

.wide-bar-bottom {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid rgb(68, 68, 69);
    border-bottom: 1px solid rgb(68, 68, 69)
}

.wide-bar-user-profile {
    font-size: 11px;
    color: rgb(139, 140, 142);
}

.sub-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    height: 100%;
    padding: 22px;
}

.sidebar .menu {
    padding: 1px;
}



.sidebar-button {
    position: relative;
    display: inline-block;
    color: rgb(68, 76, 86);
    text-align: center;
    transition: all 1s;
    width: 2rem;
}

.sidebar-button-content {
    position: absolute;
    display: flexbox;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    right: 0;
    width: 85px;
    height: 32px;
    color: white;
    transition: all .5s ease-in-out;
    z-index: -1;

}

.sidebar-button:hover {
    color: whitesmoke;
    height: auto;
    cursor: pointer;
}

.sidebar-button:hover+.sidebar-button-content {
    transform: translate(90px, 0px);
}

.navbar {
    margin: 27px;
}


.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-self: center;
    color: white;
}

.sub-items {
    justify-content: space-between;
}