.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    align-items: center;
}

.subsidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    padding: 15px;
}

.sidebar .menu {
    padding: 1px;
}


.sub-icon {
    color: white;
    height: 1.3em;
}

.sidebar-button {
    position: relative;
    display: inline-block;
    color: rgb(68, 76, 86);
    text-align: center;
    transition: all 1s;
    width: 2rem;
}

.sidebar-button-content {
    position: absolute;
    display: flexbox;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    right: 0;
    width: 85px;
    height: 32px;
    color: white;
    transition: all .5s ease-in-out;
    z-index: -1;

}

.sidebar-button:hover {
    color: whitesmoke;
    height: auto;
    cursor: pointer;
}

.sidebar-button:hover+.sidebar-button-content {
    transform: translate(90px, 0px);
}



.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-self: center;
    color: white;
}