.users-table {

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
}

.user-profile {
    font-size: .7rem;
    padding: 5px 10px;
}

.user-profile #user-info {
    display: flex;
    justify-content: start
}

.card {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background-color: white;
    font-size: .7rem;
    color: grey;
    height: 100%;
    width: 100%;
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar {
    max-width: 100%;
    height: auto;
}