.users-table {

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
}


.users-7days {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr)
}

.billing-status {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr)
}

.day {
    border-right: 1px solid gray;
}

.user-profile {
    font-size: 14px;
    padding: 5px 10px;
}

.user-profile #user-info-name {
    display: flex;
    justify-content: start;
}

.user-profile #user-info-status {
    display: flex;
    justify-content: start;
    font-size: 12px;
}

.card {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background-color: white;
    font-size: 12px;
    color: grey;
    height: 100%;
    width: 100%;
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar {
    max-width: 100%;
    height: auto;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}


.progress-bar {
    width: 0%;
    color: rgba(255, 255, 255, 0%);
    transition: width 2s, color 2s, --num 2s;
    counter-set: num var(--num);
    transition-timing-function: cubic-bezier(.17, .67, .83, .67);
}

.progress-bar:after {
    white-space: nowrap;
    content: counter(num) " %";
}

.progress-bar:hover {
    color: rgba(255, 255, 255, 100%);
    --num: 72;
    width: 72%;
}